@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
}

img {
  width: 100%;
}
button {
  cursor: pointer;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
/* font-family: 'Roboto', sans-serif; */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.logo, span {
  font-weight: 900;
  font-size: 2.4rem;
}

.logo {
  color: #243e63;
}
span {
  color: #6415ff;
}

nav > ul {
  list-style: none;
  display: flex;
}

nav > ul > li {
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 2rem;
}

.hero {
  height: 56rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  width: 100%;
  max-width: 54rem;
}

.hero__header {
  font-size: 4.8rem;
  font-weight: 900;
  color: #243e63;
}

.hero__paragraph {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5rem;
  color: #243e63;
  margin: 3.2rem 0;
}
.hero__image {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 60rem;
}

.hero__image img {
  height: 40rem;
}

@media(max-width: 1100px) {
  .hero__image img {
    height: 30rem;
  }
}

@media(max-width: 880px) {
  .hero {
    flex-direction: column;
    text-align: center;
    height: 0;
  }
  .hero__header {
    margin-top: 3rem;
    font-size: 4rem;
  }
  .hero__paragraph {
    line-height: 2rem
  }
}

@media(max-width:500) {
  .hero__image img {
    height: 25rem;
  }
}